@model GesprekPlanner_WebApi.Areas.Teacher.Models.ConversationViewModels.CreateConversationViewModel
@{
    ViewData["Title"] = "CreateSchedule";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
    var counter = 1;
}

<h2>CreateSchedule</h2>
@foreach (var planDate in Model.PlanOnDate)
{
    string formid = $"form{counter}";
    string formoutputid = formid + "output";
    <form class="planForm" id="@formid">
        <div class="form-horizontal">
            <input type="hidden" name="Date" value="@planDate"/>
            <input type="hidden" value="@Model.ConversationType"/>
            <div class="form-group">
                <label class="col-md-2 control-label">Plan gesprek voor: </label>
                <div class="col-md-10">
                    <label class="plandate control-label">@planDate.ToString("ddMMyyyy")</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Start tijd:</label>
                <div class="col-md-10">
                    <input type="text" name="StartTime" class="StartTime" placeholder="Tijd in uren:minuten" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Eind tijd:</label>
                <div class="col-md-10">
                    <input type="text" name="EndTime" class="EndTime" placeholder="Tijd in uren:minuten" required/>
                </div>
            </div>
        </div>
    </form>
    <div id="@formoutputid"></div>
    counter++;
}
<button class="btn btn-primair makeConversations">Maak gesprekken aan</button>
<button class="btn btn-primair planConversations" style="display: none;">Plan gesprekken</button>
<div id="output"></div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery-form/src/jquery.form.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript">
        moment.locale("nl");
        $(document).ready(function() {
            $(".plandate").each(function() {
                $(this).text(moment($(this).text(), "DDMMYYYY").locale("nl").format('LL'));
            });
        });

        $(document).on("click",".makeConversations",function() {
            $(".planForm").each(function(e) {
                $(this).validate();

                var form = $("#" + $(this).attr("id"));
                var formidoutput = "#" + $(this).attr("id") + "output";
                $.ajax({
                    url: '@Url.Action("AjaxCreateSchedule")',
                    data: JSON.stringify({
                        FormId: $(this).attr("id"),
                        StartTime: $(form).find("input[name=StartTime]").val(),
                        EndTime: $(form).find("input[name=EndTime]").val(),
                        Date: $(form).find("input[name=Date]").val(),
                        ConversationType: @Model.ConversationType
                    }),
                    contentType: 'application/json',
                    type: 'POST',
                    dataType: 'html',
                    success: function (data) {
                        if (data.startsWith()) {
                            console.log("error");
                        }
                        console.log(data);
                        console.log(formidoutput);
                        $(formidoutput).html(data);
                    },
                    error: function() {
                        return;
                    }
                });
                //$(this).hide();
            });
            //$(this).hide();
            $(".planConversations").show();
        });
        $(document).on("click", ".planConversations", function() {
            $(".finalSchedule").each(function() {
                $(this).ajaxSubmit({
                    target: $(this)
                });
            });
        });
    </script>
}
