@model GesprekPlanner_WebApi.Areas.Teacher.Models.ConversationViewModels.CreateConversationViewModel
@{
    ViewData["Title"] = "CreateSchedule";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
    var counter = 1;
}

<h2>CreateSchedule</h2>
@foreach (var planDate in Model.PlanOnDate)
{
    string formid = $"form{counter}";
    string formoutputid = formid + "output";
    <form class="planForm" id="@formid">
        <div class="form-horizontal">
            <input type="hidden" name="Date" value="@planDate"/>
            <div class="form-group">
                <label class="col-md-2 control-label">Plan gesprek voor: </label>
                <div class="col-md-10">
                    <label class="plandate control-label">@planDate.ToString("ddMMyyyy")</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Start tijd:</label>
                <div class="col-md-10">
                    <input type="time" name="StartTime" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Eind tijd:</label>
                <div class="col-md-10">
                    <input type="time" name="EndTime" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Plan tijden" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </form>
    <div id="@formoutputid"></div>
    counter++;
}
<div id="output"></div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery-form/src/jquery.form.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script type="text/javascript">
        moment.locale("nl");
        $(document).ready(function() {
            $(".plandate").each(function() {
                $(this).text(moment($(this).text(), "DDMMYYYY").locale("nl").format('LL'));
            });
        });

        $(document).on("submit", ".finalSchedule", function(e) {
            e.preventDefault();
            $(this).ajaxSubmit({
                target: $(this)
            });
        });

        $(document).on("click", ".deleteSchedule", function () {
            var counter = 0;
            var scheduleboxParent = $(this).parent().parent().parent();
            console.log($(this).parent().parent().remove());
            scheduleboxParent.find(".schedulebox").each(function() {
                $(this).find(".formid").attr("name","["+counter+"].FormId");
                $(this).find(".starttime").attr("name", "[" + counter + "].StartTime");
                $(this).find(".endtime").attr("name", "[" + counter + "].EndTime");
                counter++;
            });
        });

        $(function() {

            $(".planForm").submit(function(e) {
                e.preventDefault();
                $(this).validate();

                var form = $("#" + $(this).attr("id"));
                var formidoutput = "#" + $(this).attr("id") + "output";
                $.ajax({
                    url: '@Url.Action("AjaxCreateSchedule")',
                    data: JSON.stringify({
                        FormId: $(this).attr("id"),
                        StartTime: $(form).find("input[name=StartTime]").val(),
                        EndTime: $(form).find("input[name=EndTime]").val(),
                        Date: $(form).find("input[name=Date]").val(),
                        ConversationType: @Model.ConversationType
                    }),
                    contentType: 'application/json',
                    type: 'POST',
                    dataType: 'html',
                    success: function (data) {
                        console.log(formidoutput);
                        $(formidoutput).html(data);
                    }
                });
                e.preventDefault();
            });
        });

    </script>
}
