@model IEnumerable<GesprekPlanner_WebApi.Models.ApplicationUserGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Cre&euml;er nieuwe groep</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GroupName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicationUserGroupId">Aanpassen</a> |
                <a asp-action="Details" asp-route-id="@item.ApplicationUserGroupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplicationUserGroupId">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
